  <div class="row">
    <div class="col-md-12">
      <a class="topic-info-link" href="/docs/terminus/">
        <div class="row" style="margin-bottom:15px;">
          <div class="guide-cta-landing" style="display:flex;padding:0px;max-height: 155px;">
            <div class="col-md-4 hidden-sff" style="display:inline-flex;padding:0px;flex:5em;">
              <img style="margin:0;border:black solid 5px;" src="/source/docs/assets/images/terminus-thumbLarge.png"/>
            </div>
            <div class="col-md-8 hero-video__text" style="flex-basis: inherit;flex:4;background-color:#0093c9;padding:0px!important;">
              <div style="padding:20px 30px !important;">
                <h1 class="hero-video__guide-cta-title">Terminus Manual <i class="fa fa-angle-right" style="color:#EFD01B;"></i></h1>
                <p class="hero-video__guide-cta-subtitle">Ready to let the bots do the scut work? Check out Terminus, the Pantheon CLI.</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 topic-groups">
      <ul class="top-docs top-docs-2col">
        {% for doc in data.docs_tags.siteintegrations if doc.meta.type == "video"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.siteintegrations if doc.meta.type == "guide"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.siteintegrations %}
          {% if (doc.meta.type != "video") and (doc.meta.type != "guide") and (doc.meta.type != "terminuspage")%}
            <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div style="padding:15px;" class="row mb-20">
    <div class="col-md-12 subtopic-container">
    <div class="subtopic-groups">
      <h3>The pantheon.yml Configuration File</h3>
      <p class="topic-info__description">Automate your Pantheon workflows using platform hooks and manage advanced site configurations in YAML.</p>
    </div>
    <div class="row">
      <div class="col-md-12" style="padding:40px;">
        <ul class="top-docs top-docs-2col">
        {% for doc in data.docs_tags.pantheonyml if doc.meta.type == "video"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.pantheonyml if doc.meta.type == "guide"%}
        <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.pantheonyml %}
        {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
        <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div style="padding:15px;" class="row mb-20">
  <div class="col-md-12 subtopic-container">
    <div class="subtopic-groups">
      <h3>Command Line Interface</h3>
      <p class="topic-info__description">Use Terminus to interact with the platform from the command line.</p>
    </div>
    <div class="col-md-12">
      <div class="subtopic-lists col-md-6">
        <h4>Terminus</h4>
        <ul class="topic-docs">
        {% for doc in data.docs_tags.devterminus if doc.meta.type == "video"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.devterminus if doc.meta.type == "guide"%}
        <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.devterminus %}
        {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
        <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
      </div>
      <div class="subtopic-lists col-md-6">
        <h4>Drush</h4>
        <ul class="topic-docs">
        {% for doc in data.docs_tags.devdrush if doc.meta.type == "video"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.devdrush if doc.meta.type == "guide"%}
        <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.devdrush %}
        {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
        <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
      </div>
      <div class="subtopic-lists col-md-6">
        <h4>WP-CLI</h4>
        <ul class="topic-docs">
        {% for doc in data.docs_tags.devwpcli if doc.meta.type == "video"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.devwpcli if doc.meta.type == "guide"%}
        <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.devwpcli %}
        {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
        <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
