<div class="row">
  <div class="col-md-12">
    <a class="topic-info-link" href="/docs/terminus/">
      <div class="row" style="margin-bottom:15px;">
        <div class="guide-cta-landing" style="display:flex;padding:0px;max-height: 155px;">
          <div class="col-md-4 hidden-sff" style="display:inline-flex;padding:0px;flex:5em;">
            <img style="margin:0;border:black solid 5px;" src="/source/docs/assets/images/terminus-thumbLarge.png"/>
          </div>
          <div class="col-md-8 hero-video__text" style="flex-basis: inherit;flex:4;background-color:#0093c9;padding:0px!important;">
            <div style="padding:20px 30px !important;">
              <h1 class="hero-video__guide-cta-title">Terminus Manual <i class="fa fa-angle-right" style="color:#EFD01B;"></i></h1>
              <p class="hero-video__guide-cta-subtitle">Prefer working from the command line? Check out Terminus, the Pantheon CLI.</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
  <div class="row">
    <div class="col-md-6 topic-groups">
      <h3>Code</h3>
      <p class="topic-info__description">Learn how to handle PHP errors, notices, warnings, and exceptions.</p>
      <ul class="topic-docs">
        {% for doc in data.docs_tags.debugcode if doc.meta.type == "video"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.debugcode if doc.meta.type == "guide"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.debugcode %}
          {% if (doc.meta.type != "video") and (doc.meta.type != "guide") and (doc.meta.type != "terminuspage")%}
            <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6 topic-groups">
      <h3>Database</h3>
      <p class="topic-info__description">Expose issues and fix connection issues with the database.</p>
      <ul class="topic-docs">
        {% for doc in data.docs_tags.debugdb if doc.meta.type == "video"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.debugdb if doc.meta.type == "guide"%}
        <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.debugdb %}
        {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
        <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row mb-70">
    <div class="col-md-6 topic-groups">
      <h3>Filesystem</h3>
      <p class="topic-info__description">Debug issues with write access and unexpected permissions.</p>
      <ul class="topic-docs">
        {% for doc in data.docs_tags.debugfiles if doc.meta.type == "video"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.debugfiles if doc.meta.type == "guide"%}
        <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.debugfiles %}
        {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
        <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
