{% extends "default" %}
{% block content_wrapper %}
<!-- container -->
<h1 style="margin:15px;">{{page.title}}</h1>
<div class="col-md-12">
  <a class="topic-info-link" href="/docs/guides/quickstart/">
    <div class="row" style="margin-bottom:15px;">
      <div class="guide-cta-landing col-md-12" style="display:flex;padding:0px;margin-left:15px;margin-right:15px;max-height: 175px;">
        <div class="col-md-4 hidden-sff" style="display:inline-flex;padding:0px;">
          <img style="margin:0;border:black solid 5px;" src="/source/docs/assets/images/getting-started-Largethumb.png"/>
        </div>
        <div class="col-md-8 hero-video__text" style="flex-basis: inherit;background-color:#0093c9;padding:0px!important;">
          <div style="padding:25px!important;">
            <h1 class="hero-video__guide-cta-title">Quickstart Guide <i class="fa fa-angle-right" style="color:#EFD01B;"></i></h1>
            <p class="hero-video__guide-cta-subtitle">New to our platform? Check out our step-by-step guide to learn all the basics.</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
</div>
{% if page.getstarted %}
  {% include("topics/get-started.html") %}
{% elseif page.develop %}
  {% include("topics/develop.html") %}
{% elseif page.golive %}
  {% include("topics/go-live.html") %}
{% elseif page.platform %}
{% include("topics/platform.html") %}
{% elseif page.automate %}
  {% include("topics/automate.html") %}
{% elseif page.performance %}
  {% include("topics/performance.html") %}
{% elseif page.manage %}
  {% include("topics/manage.html") %}
{% elseif page.troubleshoot %}
  {% include("topics/troubleshoot.html") %}
{% endif %}
{% endblock %}
